/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
with any questions regarding Web Fonts:  http://www.linotype.com
*/

/*

    LOGOWSKI Styling
    
    yellow: #fff100;
    blue:   #00adee;
    pink:   #eb008b;
*/

/* --- General Styling   */


@import url("http://fast.fonts.net/lt/1.css?apiType=css&c=fd9d06fe-d659-4573-ab17-d6763d9eca09&fontids=674399,694015,694021");
@font-face{
  font-family:"HelveticaNeueW02-UltLt";
  src:url("Fonts/674399/787ee748-9cce-45a0-910b-6b5c6e87e327.eot?#iefix");
  src:url("Fonts/674399/787ee748-9cce-45a0-910b-6b5c6e87e327.eot?#iefix") format("eot"),url("Fonts/674399/b39b5378-b594-45fe-8067-fc4385d08520.woff2") format("woff2"),url("Fonts/674399/84558c76-9f1b-44d2-ac62-d7937f43809b.woff") format("woff"),url("Fonts/674399/411a88fe-e483-4fb8-af42-8369ebb1138d.ttf") format("truetype"),url("Fonts/674399/6dfe33a4-0ad5-4c85-8e01-f48ecfe3c167.svg#6dfe33a4-0ad5-4c85-8e01-f48ecfe3c167") format("svg");
}
@font-face{
  font-family:"HelveticaNeueW02-45Ligh";
  src:url("Fonts/694015/88fcd49a-13c7-4d0c-86b1-ad1e258bd75d.eot?#iefix");
  src:url("Fonts/694015/88fcd49a-13c7-4d0c-86b1-ad1e258bd75d.eot?#iefix") format("eot"),url("Fonts/694015/7732d6de-bd05-4c17-ae43-99e9a02edf31.woff2") format("woff2"),url("Fonts/694015/9a2e4855-380f-477f-950e-d98e8db54eac.woff") format("woff"),url("Fonts/694015/fa82d0ee-4fbd-4cc9-bf9f-226ad1fcbae2.ttf") format("truetype"),url("Fonts/694015/48d599a6-92b5-4d43-a4ac-8959f6971853.svg#48d599a6-92b5-4d43-a4ac-8959f6971853") format("svg");
}
@font-face{
  font-family:"HelveticaNeueW02-55Roma";
  src:url("Fonts/694021/0b3a3fca-0fad-402b-bd38-fdcbad1ef776.eot?#iefix");
  src:url("Fonts/694021/0b3a3fca-0fad-402b-bd38-fdcbad1ef776.eot?#iefix") format("eot"),url("Fonts/694021/b4cd926c-1a31-4785-b261-1db1a68c521e.woff2") format("woff2"),url("Fonts/694021/d5af76d8-a90b-4527-b3a3-182207cc3250.woff") format("woff"),url("Fonts/694021/1d238354-d156-4dde-89ea-4770ef04b9f9.ttf") format("truetype"),url("Fonts/694021/b68875cb-14a9-472e-8177-0247605124d7.svg#b68875cb-14a9-472e-8177-0247605124d7") format("svg");
}

body {
  width: 100%;
  background: white;  
  overflow-x: hidden;
}

.container_12 {
  background: white;
}

.min200 {
  min-height: 600px;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

ol {
  display: block;
  padding-left: 20px;
  margin-bottom: 40px;
}

ol li {
  margin: 20px;
  color: black;
  font-weight: 700;
}

ol li p {
  color: black;
}

/* --- Utility Classes   */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.hidden {
  display: none !important;
}

.top-space-big {
  margin-top: 35px;
}

.text-top {
  margin-top: 10px;
}

.top-space {
  margin-top: 25px;
}

.stretch-empty {
  padding-top: 165px;
}

.stretch-left {
  padding-left: 350px;
  padding-top: 6px;
  padding-bottom: 3px;
}

.bottom-padding {
  padding-bottom: 35px;
}

.left-padding {
  padding-left: 20px;
}

.layer1 {
  position: relative;
  z-index: 1;
}

.layer5 {
  position: relative;
  z-index: 5;
}

/* --- Clear the floats the CSS3 way   */



/* --- Typography   */

body {
  font-family: "HelveticaNeueW02-45Ligh", "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", "Helvetica", "Segoe UI", Arial, sans-serif;
  font-size: 18px;
  color: black;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, a, .h1, .h2 {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h1, h2 {
  padding: 10px;
}

h1, .h1 {
  font-size: 2.2em;
}

h2, .h2 {
  font-size: 1.25em;
}

a:active {
  font-size: 0.9em;
}

.centered {
  display: block;
  width: 100%;
  text-align: center;
}

.copyrights {
  font-size: 0.5em;
}

.link-color, .link-color:visited {
  color: #00adee;
}

.highlight, .highlight:visited {
  color: #eb008b;
}

.yellow {
  color: #fff100;
}

.inactive {
  color: #ffc900;
}

.relative {
  position: relative;
}


/* --- Styling elements */

.logo {
  display: block;
  text-indent: -9999px;
  width: 280px;
  height: 33px;
  background: url(../img/logo.png) no-repeat;
}

.decorator {
  min-width: 100%;
  width: 100%;
  min-height: 8px;
  height: 8px;
  background: #fff100;
  border-top: 8px solid black;
  border-bottom: 8px solid #eb008b;
  margin-bottom: 8px;
}

.decorator:after {
  content: "";
  display: block;
  width: 100%;
  min-width: 100%;
  height: 8px;
  min-height: 8px;
  background: #00adee;
  margin-top: 16px;
}

.nav {
  position: relative;
  margin-left: 30px;
  margin-top: 5px;
}

.nav li {
  position: absolute;
  left: 120px;
  top: 0;
}

.nav li:first-child {
  left: 0;
}

.nav li:last-child {
  left: 245px;
}

.nav li a {
  font-size: 0.75em;
}

.nav li a:active {
  font-size: 0.7em;
}

.pad {
  width: 920px;
  margin-left: 20px;
  position: relative;
  background: #fff100;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.pad.highlight-background {
  background: #eb008b;
}

.without-pad {
  padding-left: 70px;
}

.banner-heading {
  position: absolute;
  left: 55px;
  top: 40px;
  line-height: 1.2em;
}

.torso {
  position: absolute;
  min-width: 245px;
  width: 245px;
  min-height: 309px;
  height: 309px;
  background: url(../img/torso.png) no-repeat;
  left: 610px;
  top: 19px;
  z-index: 0;
}

.open-closed {
  position: absolute;
  top: -4px;
  right: 0;
}

.open-closed p {
  font-weight: 700;
  text-align: right;
}

.liner {
  position: relative;
}

.liner a, .liner p {
  display: inline-block;
}

.uber-button {
  display: inline-block;
  padding: 5px 10px 5px 8px;
  background: black;
  text-align: right;
  min-width: 300px;
  margin-right: 40px;
}

.uber-button:active {
  font-size: 1.25em;
}

.do-it {
  position: absolute;
  left: 0;
  top: 0;
}

.to-left {
  margin-left: -20px;
}

.yellow-left:before {
  content: "";
  position: absolute;
  display: block;
  min-width: 20px;
  width: 20px;
  height: 80%;
  top: 20%;
  left: -20px;
  background: #fff100;
}

.highlight-left:before {
  content: "";
  position: absolute;
  display: block;
  min-width: 20px;
  width: 20px;
  height: 92%;
  top: 0;
  left: -20px;
  background: #eb008b;
  z-index: 0;
}

.design-form {
  margin-top: 30px;
}

.end {
  margin-bottom: 20px;
}

.free-for-legs {
  margin-bottom: 0;
  position: relative;
}

.legs-holder {
  position: relative;
  width: 100%;
  height: 100px;
}

.legs {
  position: absolute;
  right: 0;
  top: -70px;
  width: 294px;
  height: 180px;
  background: url(../img/legs.png) no-repeat;
  z-index: 0;
}

.blvd {
  padding-top: 35px;
}

.video {
  display: block;
  margin-left: 6px;
  margin-top: 32px;
  border: 8px solid black;
  border-bottom: none;
}

.instagram-widget {
  overflow: hidden;
}

.arrow {
  display: block;
  width: 38px;
  height: 64px;
  text-indent: -9999px;
  float: left;
  margin-top: 42px;
}

.arrow.left {
  background: url(../img/arrow-left.png) no-repeat;
  margin-right: 20px;
  margin-left: 35px;
}

.arrow.right {
  background: url(../img/arrow-right.png) no-repeat;
  margin-left: 13px;
}

.slider {
  overflow: hidden;
  float: left;
  position: relative;
  min-width: 785px;
  width: 785px;
  min-height: 180px;
  height: 180px;
}

.mover {
  width: 9000px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.instagram-photo {
  width: 150px;
  height: 150px;
  float: left;
  margin-right: 7px;
  margin-bottom: 30px;
  cursor: pointer;
}

.loading {
  background: url(../img/loading.gif) no-repeat center -85px;
}

.outside-form {
  width: 880px;
  margin: 0 auto;
}

.fuck-report {
  position: absolute;
  min-height: 50px;
  height: 50px;
  min-width: 122px;
  width: 122px;
  background: #fff100;
  bottom: 180px;
  right: 425px;
  z-index: 100;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.instagram-big {
  width: 640px;
  height: 640px;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -306px;
  margin-left: -306px;
}

.fb-plugin {
  position: absolute;
  top: 72px;
  right: 476px;
  overflow: hidden;
}

.twitter-plugin {
  position: absolute !important;
  top: 72px;
  right: 414px;
}

.cirlce-link {
  width: 115px;
  height: 19px;
  display: block;
  text-indent: -9999px;
  margin-top: 7px;
  margin-left: 103px;
}

.cirlce-link-black {
  background: url(../img/cirlce-black.png) no-repeat;
}

.cirlce-link-yellow {
  background: url(../img/cirlce-yellow.png) no-repeat;
}

.cirlce-link-blue {
  background: url(../img/cirlce-blue.png) no-repeat;
}

.cirlce-link-pink {
  background: url(../img/cirlce-pink.png) no-repeat;
}


.faq-container {
  padding: 30px 65px;
}

.faq {
  margin-bottom: 20px;
}

.question {
  font-weight: bold;
  color: #eb008b;
  padding-bottom: 5px;
  cursor: pointer;
}

.betahaus {
  width: 100%;
}

.betahaus-logo {
  display: inline-block;
  width: 176px;
  height: 38px;
  text-indent: -9999px;
  background: url(../img/betahaus.png) no-repeat;
}

.betahaus .h2 {
  float: right;
  margin-top: 8px;
}

.cirlce-header {
  width: 100%;
  overflow: hidden;
  margin: 20px 0 40px;
}

.cirlce-logo {
  min-width: 163px;
  min-height: 154px;
  background: url(../img/cirlce-logo.png) no-repeat;
  margin-top: 20px;
  float: left;
}

.photo-upload {
  width: 130px;
  height: 130px;
  border-radius: 65px;
  float: left;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 78px;
  position: relative;
  cursor: pointer;
}

.photo-upload > p {
  position: absolute;
  bottom: -22px;
  left: 9px;
  font-weight: bold;
}

.photo1, .canvas-yellow {
  background: #fff100;
}

.photo2, .canvas-pink {
  background: #eb008b;
}

.photo3, .canvas-blue {
  background: #00adee;
}

.cirlce-form {
  width: 920px;
  position: relative;
  margin-bottom: 20px;
}

.cirlce-form input, .cirlce-form textarea {
  padding-bottom: 20px;
  background-color: #fff100;
  color: #eb008b;
  border: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
  resize: none;
}

.cirlce-form textarea {
  display: block;
  width: 100%;
  min-height: 150px;
  padding-right: 30px;
  overflow: hidden;
}

.words-left {
  position: absolute;
  right: 0;
  top: 2px;
  color: #eb008b;
}

.form-name, .form-questions {
  display: block;
  width: 100%;
}

.form-submit {
  display: block;
  float: right;
  margin-left: 10px;
  width: 200px;
  border: none;
  background: #eb008b;
  color: #fff100;
  font-weight: bold;
  padding: 10px 0 11px;
}

.form-portfolio {
  width: 540px;
  margin-left: 10px;
}

.form-mobile {
  margin-left: 10px;
  width: 300px;
}

.form-email {
  margin-left: 10px;
  width: 440px;
}

.form-age, .form-tshirt {
  width: 150px;
}

::-webkit-input-placeholder {
  color: #eb008b;
}

:-moz-placeholder { /* Firefox 18- */
  color: #eb008b;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #eb008b;
}

:-ms-input-placeholder {
  color: #eb008b;
}

.canvas {
  background: #fff100;
  margin-bottom: 10px;
  padding-bottom: 15px;
}

.canvas p {
  color: #eb008b;
}

canvas {
  width: 700px;
  height: 550px;
  background: white;
  margin-left: 20px;
  margin-top: 10px;
  cursor: default;
}

.canvas-controls {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: absolute;
  top: 40px;
  right: 50px;
}

.canvas-colors {
  width: 60px;
  float: left;
}

.canvas-colors > a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-indent: -9999px;
  margin-bottom: 10px;
}

.canvas-colors > a:first-child {
  background: black;
}

.canvas-actions {
  width: 140px;
  float: left;
}

.canvas-actions a {
  display: block;
  margin-bottom: 5px;
}

.preview-image {
  max-width: 1000px;
  margin: 200px auto 0;
  display: block;
}

.erase {
  color: white;
  position: absolute;
  top: 54px;
  left: 58px;
}

.noty_message {
  font-size: 18px !important;
  font-weight: bold;
  padding: 20px !important;
}

#noty_center_layout_container li {
  border: none !important;
  border-radius: 0 !important;
}

.noty_bar {
  background: black;
  color: #eb008b;
  border: none !important;
  border-radius: 0 !important;
}

.noty_bar.noty_type_success {
  color: #fff100;
}

.noty_bar.noty_type_error {
  color: black;
  background: #eb008b;
}

.takeover-logo {
  min-width: 70px;
  min-height: 66px;
  background: url('../img/takeover.png') no-repeat;
  position: absolute;
  top: 27px;
  left: 20px;
}